<h1>Listing venues</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Notes</th>
    <th>Street address</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.notes %></td>
    <td><%= venue.street_address %></td>
    <td><%= venue.city.name if venue.city.present? %></td>
    <td><%= venue.region.name if venue.region.present? %></td>
    <td><%= venue.country.name if venue.country.present? %></td>
    <td><%= venue.latitude.to_s + ", " + venue.longitude.to_s %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Destroy', venue, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
